{{- define "main" -}}
{{ $total := .Site.Data.boston_license.records | len }}
{{ $unrestricted := 0 }}
{{ $count := 0 }}
{{ $restrict_2006 := 0 }}
{{ $zipmap := newScratch }}
{{ $restrictzip := newScratch }}

{{ range .Site.Data.boston_license.records }}
{{ if strings.Contains (index . 4) "Neighborhood Restricted" }}
  {{ $count = add $count 1 }}
  {{ $zipmap.Add (index . 22) 1 }}
{{ end }}

{{ if strings.Contains (index . 4) " Restrict." }}
  {{ $restrict_2006 = add $restrict_2006 1 }}
  {{ $restrictzip.Add (index . 22) 1 }}
{{ end }}
{{ end }}
{{ $unrestricted = sub $total (add $restrict_2006 $count) }}
<h1>Boston License Tracker (BLT)</h1>
<p>Amendment <a href="https://malegislature.gov/Bills/193/S2903">S.2903</a> creates additional liquor licenses in four sections:</p>
<ol>
  <li>12 licenses anywhere in the city, unrestricted</li>
  <li>3 Non-transferrable restricted licenses for the sale of all alcoholic beverages to be drunk on the premises pursuant to section 12 of said chapter 138 in the Oak Square neighborhood in the Brighton section of the city of Boston.</li>
  <li>15 non-transferable, restricted licenses for the sale of all alcoholic beverages to be drunk on the premises pursuant to section 12 of said chapter 138 to community spaces, including outdoor spaces, theaters, other nonprofit organizations or government or quasi government agencies located in the city of Boston; provided, however, that a theater with an occupancy limit of 750 or more shall not receive a license pursuant to this section</li>
  <li>4 non-transferable, restricted licenses for the sale of all alcoholic beverages to be drunk on the premises and 2 non-transferable, restricted licenses for the sale of wines and malt beverages to be drunk on the premises for a period of 3 years, in each of the following zip codes: 02118, 02119, 02121, 02122, 02124, 02125, 02126, 02128, 02129, 02130, 02131, 02132 and 02136.</li>
</ol>


<p>There are currently {{ $total }} licenses.</p>
<p>{{ $count }} are "Neighborhood Restricted"</p>
<p>{{ $restrict_2006 }} are "Older Restricted"</p>
<p>{{ $unrestricted }} unrestricted </p>

<div style="position: relative; height: 40vh; width:40vw;">
  <canvas id="piechart"></canvas>
</div>

<script>
  window.onload = () => {
    const data = {
      labels: ['Unrestricted', 'Restricted-2006', 'Restricted-2014'],
      datasets: [{
        data: [{{ $unrestricted}},{{$restrict_2006}},{{$count}}],
      }]
    };
    const config = { type: 'pie', data: data, };
    const ctx = document.getElementById('piechart');
    new Chart(ctx, config);
  }
</script>

<h1>2014 Restricted Zipcodes {{ $count }}</h1>
These are the zipcodes some of the liquor licenses are restricted to:

<ul>
  {{ $zips := .Site.Data.restricted_zips }}
  {{ range $k, $v := $zipmap.Values }}
    <li>{{ $k }} licenses: {{ $v | default 0 }} {{ if not (collections.In $zips $k) }}*{{end }}</li>
  {{ end }}
</ul>
<p>* Not in the S.2903 13 restricted zipcodes</p>

<h2>2006 Restrict. (non-transferrable) {{ $restrict_2006 }}</h2>
<ul>
  {{ range $k, $v := $restrictzip.Values }}
  <li>{{ $k }} licenses: {{ $v }} {{ if not (collections.In $zips $k) }}*{{end }}</li>
  {{ end }}
</ul>
<p>* Not in the S.2903 13 restricted zipcodes</p>




<h2>2014 Neighborhood restricted licenses {{ $count }}</h2>
{{ range .Site.Data.boston_license.records }}
  {{ if strings.Contains (index . 4) "Neighborhood Restricted" }}
    <p>{{ index . 1 }} {{ index . 7 }}  {{ index . 8 }} {{ index . 4 }} {{ index . 22 }} </p>
  {{ end }}
{{ end }}

<h2>2006 Restricted licenses {{ $restrict_2006 }}</h2>
{{ range .Site.Data.boston_license.records }}
  {{ if strings.Contains (index . 4) " Restrict." }}
    <p>{{ index . 1 }} {{ index . 7 }}  {{ index . 8 }} {{ index . 4 }} {{ index . 22 }} </p>
  {{ end }}
{{ end }}


{{ .Content }}

{{- end -}}
